.login-header {
    border-radius: 0% 0% 50% 50%;
    min-height: 40%;
    background: #153A64;
    padding: 10% 10% 10% 10%;
    text-align: center;
    color:#E4C40F;
}

.img-center {
    padding: 0% 30% 0% 30%;
    
}

.login-body {
    padding: 5% 10% 10% 10%
}

.register{
    text-align: center;
}