.login-header {
    border-radius: 0% 0% 50% 50%;
    min-height: 40%;
    background: grey;
    padding: 15% 10% 10% 10%;
    text-align: center;
}

.img-center {
    padding: 0% 30% 0% 30%;
    
}

.login-body {
    padding: 10% 10% 10% 10%
}