<ion-content>
  <div class="login-header">
    <div class="img-center">
      <img src="https://img.icons8.com/wired/120/000000/hamburger.png" class="image-center">
      <h4>CHEF'S DELIGHT</h4>
      

    </div>
    <p color="light">login to continue</p>
    
  </div>
  <form (submit)="doLogin()">
  <div class="login-body">
    
    <ion-item>
      <ion-input type="email" [(ngModel)]="userLoginData.email" name="email" placeholder="example@gmail.com">email :</ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="password" [(ngModel)]="userLoginData.password" name="password" >Password :</ion-input>
    </ion-item>
    <ion-button  expand="block" size="large" type="submit">LOGIN</ion-button>
  
  </div>
  </form>

</ion-content>
