<ion-content>
  <div class="login-header">
    <div class="img-center">
      <img src="https://img.icons8.com/wired/120/000000/hamburger.png" class="image-center">
      <h4>CHEF'S DELIGHT</h4>
      

    </div>
    <p color="light">login to continue</p>
    
  </div>
  <div class="login-body">

    <ion-item>
      <ion-input>email</ion-input>
    </ion-item>
    <ion-item>
      <ion-input>password</ion-input>
    </ion-item>
    <ion-button expand="block" size="large">LOGIN</ion-button>

  </div>

</ion-content>
