<ion-header>
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="login-body">
    <ion-item>
      <ion-input>full names</ion-input>
    </ion-item>

    <ion-item>
      <ion-input>email</ion-input>
    </ion-item>
    <ion-item>
      <ion-input>password</ion-input>
    </ion-item>
    <ion-item>
      <ion-input>confirm password</ion-input>
    </ion-item>
    <ion-button expand="block" size="large">Register</ion-button>

  </div>
</ion-content>
