<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Serving Today
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card *ngFor="let item of product">
  

    <ion-row (click)="goto()">
      <ion-col class="text-layout">
        <p class="item-name">{{item.name}}</p>
        <p class="item-disc">{{item.discriptions}} </p>
        <p class="price">R{{item.price}}</p>
      </ion-col>
      <ion-col>
        <img src="https://myfoodbook.com.au/sites/default/files/styles/single_recipe/public/recipe_photo/butter-chicken.jpg" class="img-clear">
      </ion-col>
    </ion-row>

  </ion-card>
  

  
</ion-content>
