ion-content ion-toolbar {
  --background: translucent;
}

.img-clear{
  border-radius: 3% 3% 3% 3%;
}

.item-name {
  font-size:120%;
  padding-left: 10%;
}

.item-disc {
  font:80%;
  padding-left: 10%;
}

.price {
  font-size: 130%;
  padding-left: 10%;
  margin-bottom: 0px;
}
