.text-align{
    text-align: center;
    font-size: 160%;
}

.text-align-disc{
    align-content: center;
    text-align: justify;
    background-color: grey;
    padding: 10%;
    //padding-right: 10%;
}

.detail-img{
    max-height: 15%;
}

